@use './styles/' as *;

body {
	background-color: var(--clr-shades-almost-white);
	font-family: var(--ff-primary-inter);
	font-optical-sizing: auto;
	font-style: normal;

	header {
		padding: 1.75rem 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo img {
			height: 28px;
			width: 45px;
		}

		nav {
			position: relative;

			.mobile-menu-icon {
				background-color: transparent;
				border: none;
				cursor: pointer;
			}

			// Mobile Nav Styles
			.nav-mobile {
				position: absolute;
				top: -1.75rem;
				right: -1rem;
				height: 100vh;
				width: 256px;
				padding: 1.75rem 1.25rem;
				background-color: var(--clr-shades-almost-white);

				.mobile-menu-container {
					display: flex;
					justify-content: flex-end;
					margin-bottom: 5.375rem;
					width: 100%;

					.mobile-menu-icon .close-icon {
						height: 30.41px;
						width: 30.41px;
						cursor: pointer;
					}
				}

				.mobile-nav-links {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 1.5rem;

					li {
						cursor: pointer;

						a {
							font-size: var(--fs-heading-xs);
							font-weight: var(--fw-regular);
							line-height: var(--lh-heading-sm);
							color: var(--clr-primary-dark-space-blue);
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

.hidden {
	display: none;
}
