@use './styles/' as *;

body {
	background-color: var(--clr-shades-almost-white);
	font-family: var(--ff-primary-inter);
	font-optical-sizing: auto;
	font-style: normal;

	header {
		padding: 1.75rem 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo img {
			height: 28px;
			width: 45px;
		}

		nav[aria-label='primary'] button {
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}
}

.hidden {
	display: none;
}
